@import './card';

.table {
    background-color: $table-color;
    border: 10px solid $light-brown;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    min-height: 420px;
    border-radius: 115px;

    .player {
        // always display the dealer first and the current user last
        order: 2;
        
        &-dealer {
            order: 1;
        }

        &-user {
            order: 3;
        }
    }

    .player-hand {
        display: flex;
        margin-top: auto;
        justify-content: center;
    }

    .player-result {
        text-align: center;
    }

    .player-actions {
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        margin: auto auto 0;
        min-width: 200px;
        order: 4;  // always show at bottom
        
        li {
            list-style-type: none;
        }
        
        button {
            @include primary-button;
        }
    }
}

