// reusable variables
$yellow-primary: #EBF096;

$table-color: #386943;
$btn-transition-time: 300ms;
$btn-transition-function: cubic-bezier(0.4, 0, 0.6, 1);

@mixin primary-button($height:40px, $vertical-padding: 10px) {
    background-color: transparent;
    border: 2px solid $yellow-primary;
    color: $yellow-primary;
    cursor: pointer;
    height: $height;
    $vertical-padding: 10px;
    padding: $vertical-padding/2 30px;
    line-height: $height - $vertical-padding; // center text on button
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    //font-weight: bold;
    border-radius: $height / 2;
    transition: $btn-transition-time background $btn-transition-function, $btn-transition-time color $btn-transition-function;

    &:hover {
    	background-color: $yellow-primary;
    	color: $table-color;
    }
}
