// add top-level module imports here
@import 'normalize.css';

$yellow-primary: #efc371;

@mixin primary-button($height:30px, $vertical-padding: 10px) {
    background-color: $yellow-primary;
    border: 1px solid $yellow-primary;
    height: $height;
    $vertical-padding: 10px;
    padding: $vertical-padding/2 20px;
    line-height: $height - $vertical-padding; // center text on button
    font-size: 13px;
    font-weight: bold;
    border-radius: 1px;
}

* {
    box-sizing: border-box;
}

html {
    background-color: black;
    color: $yellow-primary;
    font-family: "Courier New";
}

main {
    max-width: 760px;
    min-height: 700px;
    margin: 40px auto;
    border: 1px solid #C5C8D4;
    padding: 40px;
    text-align: center;
}

.player-login-form {
    $form-element-height: 30px;

    text-align: center;

    input[type="text"] {
        height: $form-element-height;
        margin-right: 10px;
    }
    
    input[type="submit"] {
        @include primary-button($form-element-height);
        margin-top: 20px;
    }
}

.table {
    border: 1px solid $yellow-primary;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    height: 440px;

    .player-hand {
        display: flex;
        margin-top: auto;
        justify-content: center;
    }

    .card {
        width: 100px;
        height: 120px;
        border: 1px solid;
        text-align: center;
        margin-right: 15px;
        padding: 8px;
    }
}

.player-actions {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin: auto 0 0;
    
    li {
        list-style-type: none;
    }
    
    button {
        @include primary-button;
    }
}
