// add top-level module imports here
@import 'normalize.css';



@import 'utils';
@import 'login-form';
@import 'table';
@import 'player-info'; 

* {
    box-sizing: border-box;
}

html {
    background-color: $light-green;
    color: $yellow-primary;
    font-family: $sans-default;
}

main {
    min-height: 700px;
    margin: 40px auto;
}
